<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wallygram</title>
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script:wght@700&family=Great+Vibes&family=Permanent+Marker&family=Redressed&family=Sacramento&family=Satisfy&display=swap");
    </style>
  </head>
  <body>
    <nav>
      <div class="container">
        <h2 class="log app-name">Wallygram</h2>
        <div class="search-bar">
          <i class="uil uil-search"></i>
          <input
            type="search"
            placeholder="Search for your friends, inspirations and influencers"
          />
        </div>
        <div class="home" onclick="location.href='/feed'">
          <i class="uil uil-house-user"></i>
        </div>
        <div class="friends" onclick="location.href='/friendsRequested'">
          <i class="uil uil-heart"></i>
        </div>
        <div class="Profile" onclick="location.href='/profile'">
          <i class="uil uil-user"></i>
        </div>
        <div class="Profile-picture">
          <img src="/images/PP1.jpg" />
        </div>
      </div>
    </nav>
    <main>
      <br />
      <hr />
      <div class="container">
        <table>
          <tr>
            <td></td>
            <td>
              <div class="posts">
                <button class="button2" type="button">EXPLORE</button>
              </div>
            </td>
          </tr>
        </table>
      </div>

      <div class="my-posts">
        <% for (var i =0; i < post.length; i++ ) { %>
        <div class="single-post">
            <div class="single-post-top d-flex flex-row">
                <img src="/images/green_badge.jpg" class="badge-in-post">
                <img src="/images/PP1.jpg" class="post-image">
                <h3 class="post-name"><%= post[i].Username %></h3>
            </div>
            <div class="single-post-data"><%= post[i].Caption %></div>         
            <div class="single-post-like-comment d-flex flex-row">
                <button class="btn btn-light like-comment-button d-flex flex-row" onclick="location.href='/likefeed?id=<%= post[i].Post_id %>'">
                    <img src="/images/like-logo.png" class="like-logo">
                    <p class="like-comment">Like</p>
                    <p class="like-comment likes-comments-count"><%= post[i].LikesCount %></p>
                </button>
                <button class="btn btn-light like-comment-button d-flex flex-row">
                    <img src="/images/comment-logo.jpg" class="comment-logo">
                    <p class="like-comment">Comment</p>
                    <p class="like-comment likes-comments-count"><%= post[i].CommentsCount %></p>
                </button>
                <button class="btn btn-light like-comment-button d-flex flex-row">
                    <img src="/images/share-logo.png" class="comment-logo">
                    <p class="like-comment">Share</p>
                    <p class="like-comment likes-comments-count">2</p>
                </button>
            </div>
            <div class="d-flex flex-row">
                <form action="/comment" method="POST" name="form3">
                    <input class="add-comment-feed" type="text" placeholder="Add comment...." name="comment" id="comment"/>
                </form>
                <div class="inner_button">
                  <input type="submit" class="btn btn-outline-danger" onclick="location.href='/comment?id=<%= post[i].Post_id %>'" value = "Comment"/>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    </main>
  </body>
</html>
